<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>E-Booking</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
</head>
<body>
	<div class="admin-user-outline-div">
		<h2 class="ticket-heading">Ticket</h2>
		{% if not user.tickets_tot%}
		<form action="/ticket" method="post">
			<button type="submit" class="ticket-submit">BOOK TICKET</button>
		</form>
		{% endif %}
		{% if user.tickets_tot == 1 %}
		<button class="ticket-submit">Ticket Booked</button>
		{% endif %}
		<form action="/logout">
		<button type="submit" class="logout-btn">LOGOUT</button>
	</form>
	</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>